package service;

import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import repository.UserRepository;
import repository.User;

@Service
public class UserService {

	@Autowired
	private UserRepository userRepository;
	
	public List<User> getList(){
		return userRepository.getList();
	}
	
	public User getUser(String id) {
		return userRepository.getUser(id);
	}
	
	public User getUserWithParams(String firstname,String lastname) {
		return userRepository.getUserWithParams(firstname, lastname);
	}
}
